.main-hero {
  transition: all 2s ease;
}

.main-hero.active {
  opacity: 100%;
  max-height: 400px;
}

.main-hero.inactive {
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  transform: translateY(-400px);
}
